/*--------------------------------------------------------------
RTL WooCommerce
--------------------------------------------------------------*/


// Quantity Button Product page
.woocommerce div.product form.cart div.quantity {
  margin-right: 0;
  margin-left: 1rem;
}

@media (min-width: 769px) and (max-width: 991px) {
  .woocommerce div.product form.cart div.quantity {
    margin-left: 0;
  }
}


// Text in Coupon
.woocommerce form.checkout_coupon,
.woocommerce form.login,
.woocommerce form.register {
  text-align: right;
}
