/*--------------------------------------------------------------
RTL Button group
--------------------------------------------------------------*/


.btn-group .btn {
  border-radius: 0;
}

.btn-group .btn:first-child {
  border-top-right-radius: $border-radius !important;
  border-bottom-right-radius: $border-radius !important;
}

.btn-group .btn:last-child {
  border-top-left-radius: $border-radius !important;
  border-bottom-left-radius: $border-radius !important;
}

.btn-group > .btn:not(:last-child),
.btn-group > .btn-group:not(:last-child) {
  margin-right: 0;
  margin-left: -1px;
}