/*--------------------------------------------------------------
RTL Pagination
--------------------------------------------------------------*/


// Reset ul
.pagination {
  padding-right: 0;
}

// Pagination
.page-item {
  &:not(:first-child) .page-link {
    margin-left: 0;
    margin-right: -1px;
  }

  @if $pagination-margin-start == (calc($pagination-border-width * -1)) {
    &:last-child {
      .page-link {
        @include border-start-radius(var(--#{$prefix}pagination-border-radius));
        @include border-end-radius(0);
      }
    }

    &:first-child {
      .page-link {
        @include border-end-radius(var(--#{$prefix}pagination-border-radius));
        @include border-start-radius(0);
      }
    }
  } @else {
    // Add border-radius to all pageLinks in case they have right margin
    .page-link {
      @include border-radius(var(--#{$prefix}pagination-border-radius));
    }
  }
  
}